<div class="panel panel-default">
  <div class="panel-heading">
    Umowy
    </div>
    <div class="panel-body">
      <table class="table">
        <thead>
          <tr>
            <th appHighlight>Nazwa klienta</th>
            <th>Data zawarcia</th>
            <th>Kwota</th>
            <th></th>
          </tr>
          </thead>
          <tbody>
            <tr *ngFor="let contract of contracts">
              <td>{{ contract.customerName }}</td>
              <td>{{ contract.date | date: 'dd-MM-yyyy' }}</td>
              <td>{{ contract.value }} PLN</td>
              <td><a routerLink="{{ contract.id }}">Szczegóły</a></td>
            </tr>
          </tbody>
      </table>
    </div>
</div>

