<div class="panel panel-default">
  <div class="panel-heading">
    <h1 [style.color]="nameColor" [class.isActive]="isActive">
      <button class="btn btn-primary margin" type="button" (click)="left()">&lt;</button>
      {{customer.name}}
      <ng-container [ngSwitch]="customer.type">
        <ng-container *ngSwitchCase="CustomerType.Standard">*</ng-container>
        <ng-container *ngSwitchCase="CustomerType.Premium">**</ng-container>
        <ng-container *ngSwitchCase="CustomerType.VIP">***</ng-container>
        <ng-container *ngSwitchDefault>nieznany typ</ng-container>
      </ng-container>
      <button class="btn btn-primary margin" type="button" (click)="right()">&gt;</button>
    </h1>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-sm-8">
        <p>{{customer.description}}</p>
        <p appHighlight>Wiek: {{customer.age}}</p>
        <p>Adres: {{customer.address.street}}, {{customer.address.houseNumber}}, {{customer.address.city}}</p>
        <ul>
          <li *ngFor="let category of customer.categories; let oddCategory=odd; let evenCategory=even"
            [class.oddCategory]="oddCategory" [class.evenCategory]="evenCategory">{{category}}</li>
        </ul>
        <div class="btn-toolbar">
          <button class="btn btn-primary" (click)="changeIsActive()" type="button">Przełącz podkreślenie</button>
          <button class="btn btn-primary" (click)="changeHeaderColor()" type="button">Przełącz kolor</button>
        </div>
      </div>
      <div class="col-sm-4">
        <ng-container *ngIf="showPhoto; then photo else noPhoto"></ng-container>
        <ng-template #photo>
          <img [src]="customer.photoUrl" />
        </ng-template>
        <ng-template #noPhoto>
          <p>Zdjęcie ukryte</p>
        </ng-template>
        <div class="checkbox">
          <label><input type="checkbox" [(ngModel)]="showPhoto" />Pokaż zdjęcie</label>
        </div>
        <p>{{counter}}</p>
      </div>
      <!--<input type="text" [(ngModel)]="customer.name" [ngModelOptions]="{updateOn: 'blur'}"/>
<input type="text" [value]="customer.name" (input)="customer.name = $event.target.value"/>-->
    </div>
  </div>
</div>