<nav class="navbar navbar-default">
  <div class="container-fluid">
    <ul class="nav navbar-nav">
      <li routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
        <a routerLink="customers">klienci</a>
      </li>
      <li routerLinkActive="active">
        <a routerLink="customers/add">dodaj klienta</a>
      </li>
      <li routerLinkActive="active">
        <a routerLink="contracts">umowy</a>
      </li>
    </ul>
    <form class="navbar-form navbar-right">
        <button type="button" class="btn btn-default" (click)="authService.login()" *ngIf="!authService.isLogged">Zaloguj</button>
        <button type="button" class="btn btn-default" (click)="authService.logout()" *ngIf="authService.isLogged">Wyloguj</button>      
    </form>
  </div>
</nav>