<div class="panel panel-default">
  <div class="panel-body">
    <div class="col-sm-2">
      <select class="form-control" [(ngModel)]="customer">
        <option [ngValue]="null">Brak klienta</option>
        <option *ngFor="let c of customers;" [ngValue]="c">{{c.name}}</option>
      </select>
    </div>
    <button *ngIf="customer" class="btn btn-primary" (click)="changeColor()">kolor</button>
    <button *ngIf="customer" class="btn btn-primary" (click)="deleteCustomer()">usuń klienta</button>    
  </div>
</div>
<div *ngIf="customer">
  <cus-customer-details #details [customer]="customer" (shift)="onShift($event)"></cus-customer-details>
</div>